{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_aisoftskills/context_icon

    Icon of a scene card: the situation (a pin), the action (a hand pointing forward) or the background (a layers icon).

    Example context (json):
    {"kind": "situation"}
}}
<svg viewBox="0 0 24 24" aria-hidden="true"><path class="ss-ico-situation" d="M12 21s-6-5.3-6-11a6 6 0 0 1 12 0c0 5.7-6 11-6 11z M12 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/><path class="ss-ico-action" d="M5 12h11M12 6l6 6-6 6"/><path class="ss-ico-context" d="M12 3l9 5-9 5-9-5 9-5z M3 13l9 5 9-5"/></svg>
