{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_aisoftskills/kpi_chip

    A small workplace indicator meter.

    Example context (json):
    {"kpi": "morale", "name": "Morale", "value": 62, "start": 50}
}}
<div class="ss-kpichip" data-kpi="{{kpi}}" role="img" aria-labelledby="ss-kpi-{{kpi}}-name ss-kpi-{{kpi}}-value ss-kpi-{{kpi}}-range">
    <span class="ss-kpichip-name" id="ss-kpi-{{kpi}}-name">{{name}}</span>
    <span class="ss-kpichip-bar"><span style="width: {{value}}%;"></span></span>
    <span class="ss-kpichip-value" id="ss-kpi-{{kpi}}-value">{{value}}</span><span id="ss-kpi-{{kpi}}-range" class="visually-hidden sr-only">0–100</span>
</div>
